# Python cache and environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# Virtual environments
venv/
linux/venv/

# PyInstaller build output
build/
dist/
linux/build/
linux/dist/
*.log

# Logs
logs/
linux/logs/
*.lock

# VS Code settings
.vscode/