[Unit]
Description=USB Monitor Port Switcher
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/home/ardacakir/Projects/AutoMonitorPortSwitcher/linux/FedoraRelease/usb_monitor_v0.10.0
WorkingDirectory=/opt/usbmonitor
Restart=on-failure

[Install]
WantedBy=default.target
